main {
  /*border: 1px solid red;*/
  margin: 8%;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;    /* Centre verticalement */
  min-height: 100vh;      /* Assure que le conteneur occupe toute la hauteur de l'écran */

}


/* Contenu principal */
.content {
  margin: 0 auto;
  width: 90%; /* Le contenu reste centré */
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
  position: relative;
  z-index: 10; /* Passe au-dessus pour rester visible */
}
