/* Styles globaux */


.navbar {
  position: fixed;
  top: 5%;
  left: 10%; /* Centrer horizontalement avec 80% */
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255); /* Légèrement transparent */
  color: black;
  padding: 0 20px;
  border-radius: 2% / 50%;;
  z-index: 1000; /* Toujours au-dessus */
  box-shadow: 0 2px 10px rgba(64, 62, 62, 0.5);
}

.navbar-logo img {
  height: 40px; /* Ajuste la hauteur du logo à votre besoin */
  border-radius: 25%;
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.navbar-menu a,
.navbar-login a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-menu a:hover,
.navbar-login a:hover {
  color: gold; /* Couleur d'accentuation au survol */
}
.navbar-login{
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar-login a {
  background-color: gold;
  /*height: 50%;*/
  text-align: center;
  padding: 5% ;
  border: 1px solid black;
  border-radius: 15%/50%;
}

.navbar-login a:hover {
  background-color: gold;
  color: black;
}


.active {
  border-bottom: 2px solid gold; /* Active link indication */
}


