<div class="container">
  <div class="dashboard-sidebar">
    <h2>Gestion des Films</h2>
    <ul>
      <li><a routerLink="./manageMovie" routerLinkActive >manage Film</a></li>
      <li><a routerLink="./manageRoom" routerLinkActive >manage Salle</a></li>
      <li><a routerLink="./manageSession" routerLinkActive >manage Sceance</a></li>
    </ul>
  </div>
  <div class="dashboard-content">
    <h1 class="text-center">Tableau de Bord Cinéma</h1>
    <div class="row my-4">
      <div class="col-md-4">
        <div class="card text-white bg-primary">
          <div class="card-body text-center">
            <h5 class="card-title">Visiteurs Aujourd'hui</h5>
            <p class="card-text display-4">{{ totalVisiteurs }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-danger">
          <div class="card-body text-center">
            <h5 class="card-title">Salles avec Incidents</h5>
            <p class="card-text display-4">{{ sallesIncidents }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-success">
          <div class="card-body text-center">
            <h5 class="card-title">Tickets Vendus </h5>
            <p class="card-text display-4">{{ totalVentes }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-container">
      <router-outlet />
    </div>
  </div>


  <!-- Section du tableau des ventes -->



</div>
